# src/main/resources/env.properties.example
application.spring.datasource.url=jdbc:mysql://localhost:3306/dbname
application.spring.datasource.username=username
application.spring.datasource.password=password